
:root{
    --primary-color: rgb(241, 135, 50);
    --third-color:rgb(27, 27, 27);
    --secondary-color: white;
    --footer-text-color: rgb(0, 0, 0);
    --shadow-color: black;
    --border-radius-card: 20px;
    --border-radius-circular: 100px;
    --gradient-first-color: rgb(12, 16, 227);
    --gradient-second-color: rgb(255, 68, 0);
    --permanent-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --permanent-width-card: 450px;
    --permanent-box-margin:20px;
    background-color: var(--secondary-color);
}
@media (max-width: 768px){
    #welcomeBox{
        height: 150px !important;
        justify-content: center !important;
    }
    #footerBox{
        height: 150px !important;
    }
    #welcomeHeader{
        font-size: larger !important;
    }
    #welcomeImage{
        width: 0px !important;
    }
    #quickMenuSectionBox{
        height: 540px !important;
    }
    #quickMenuBox{
        flex-direction: column;
    }
    .quickMenuDivisionBox{
        width: 250px !important;
        height: 94px !important;
    }
    .quickMenuParagraph{
        font-size: smaller;
    }
    #quickMenuHeader{
        font-size: large !important;
    }
    #aboutMeMainHeader{
        font-size: large !important;
    }
    .aboutMeHeader{
        font-size: medium !important;
    }
    .aboutMeParagraph{
        font-size: small !important;
        width: 300px !important;
    }
    #footerPoweredImage{
        width: 70px !important;
    }
    .footerParagraph{
        font-size: small !important;
    }
    .footerColumn{
        margin: 0px !important;
    }
}

#betaContainer{
    margin-top: 50px;
    position: sticky;
    top: 30px;
    margin-bottom: 120px;
}
#betaPara{
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#betaPara::after{
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom right, var(--gradient-first-color), var(--gradient-second-color));
    height: 57px;
    width: 157px;
    z-index: -2;
    border-radius: var(--border-radius-circular);
    box-shadow: 0px 5px 13px var(--shadow-color);
}
#betaPara::before{
    position: absolute;
    content: '';
    background-color: var(--secondary-color);
    height: 50px;
    width: 150px;
    z-index: -1;
    border-radius: var(--border-radius-circular);
}
#welcomeContainer{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcomeBox{
    border-radius: var(--border-radius-card);
    height: 200px;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 5px 13px var(--shadow-color);
}
#welcomeHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    margin-left: 2%;
}
#welcomeImage{
    margin-right: 2%;
    width: 40%;
}
#quickMenuSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
#quickMenuBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quickMenuAnchor{
    text-decoration: none;
    color: white;
    font-family: var(--permanent-font);
}
.quickMenuDivisionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: var(--primary-color);
    width: 400px;
    height: 150px;
    border-radius: var(--border-radius-card);
    box-shadow: 0px 5px 13px var(--shadow-color);
    transition: all 1s ease;
}
.quickMenuDivisionBox:hover{
    transform: scale(1.1);
    box-shadow: 0px 7px 15px var(--primary-color);
    transition: all 1s ease;
}
.quickMenuParagraph{
    font-size: large;
}
#quickMenuHeader{
    margin-top: -20px;
    font-size: xx-large;
    font-family: var(--permanent-font);
    color: var(--primary-color);
}
#quickMenuSectionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 450px;
    border: solid 5px var(--primary-color);
    border-radius: var(--border-radius-card);
}
.quickMenuImage{
    margin-right: 2%;
}
#aboutmeSection{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#aboutMeMainHeader{
    font-family: var(--permanent-font);
    color: var(--primary-color);
    font-size: xx-large;
}
.aboutMeHeader{
    font-family: var(--permanent-font);
    color: var(--primary-color);
    font-size: x-large;
}
.aboutMeParagraph{
    width: 600px;
    font-family: var(--permanent-font);
    color: var(--third-color);
    font-size: large;
}
#footerContainer{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerBox{
    border-radius: var(--border-radius-card);
    height: 200px;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 5px 13px var(--shadow-color);
}
.footerColumn{
    margin: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--permanent-font);
    color: var(--footer-text-color);
}
.footerParagraph{
    font-size: large;
}
#footerPoweredImage{
    width: 100px;
}
#quickMenuOutPageSectionBox{
    display: flex;
    justify-content: center;
    align-items: center;
}