
:root{
    --primary-color: rgb(240, 98, 10);
    --secondary-color:rgb(27, 27, 27);
    --third-color: rgb(220, 220, 220);
    --shadow-color: black;
    --border-radius-card: 50px;
    --border-radius-circular: 100px;
    --gradient-first-color: rgb(255, 0, 76);
    --permanent-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --permanent-width-card: 450px;
    --permanent-box-margin:20px;
    background-color: var(--secondary-color);
}
#betaContainer{
    margin-top: 50px;
    position: sticky;
    top: 30px;
    margin-bottom: 120px;
}
#betaPara{
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#betaPara::after{
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom right, var(--gradient-first-color), var(--primary-color));
    height: 57px;
    width: 157px;
    z-index: -2;
    border-radius: var(--border-radius-circular);
    box-shadow: 0px 5px 13px var(--shadow-color);
}
#betaPara::before{
    position: absolute;
    content: '';
    background-color: var(--secondary-color);
    height: 50px;
    width: 150px;
    z-index: -1;
    border-radius: var(--border-radius-circular);
}
#welcomeContainer{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcomeBox{
    border-radius: var(--border-radius-card);
    height: 250px;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 5px 13px var(--shadow-color);
}
#welcomeHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    margin-left: 2%;
}
#welcomeImage{
    margin-right: 2%;
    width: 40%;
}
#navMenu{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridBoxNav{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
#aboutBox{
    margin: var(--permanent-box-margin);
}
#professionelBox{
    margin: var(--permanent-box-margin);
}
.navBigCard{
    border: solid 7px var(--primary-color);
    border-radius: var(--border-radius-card);
    height: 700px;
    width: var(--permanent-width-card);
    box-shadow: 0px 5px 13px var(--shadow-color);
}
.navSmallCard{
    border: solid 7px var(--primary-color);
    border-radius: var(--border-radius-card);
    height: 400px;
    width: var(--permanent-width-card);
    box-shadow: 0px 5px 13px var(--shadow-color);
}
#mediaBox{
    margin: var(--permanent-box-margin);
    text-decoration: none;
}
#contactBox{
    margin: var(--permanent-box-margin);
}
.navCardPara{
    font-family: var(--permanent-font);
    color: var(--third-color);
    text-shadow: 0px 3px 0px var(--shadow-color);
    width: 400px;
    margin-top: 20px;
    margin-left: 30px;
}
.navCardHeader{
    font-family: var(--permanent-font);
    color: var(--primary-color);
    margin-top: 20px;
    margin-left: 30px;
}
#contactButtonBox{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactWayBtn{
    margin: 30px;
    margin-top: 44px;
    background: var(--secondary-color);
    border: solid 3px var(--primary-color);
    border-radius: var(--border-radius-circular);
    height: 75px;
    width: 250px;
    box-shadow: 0px 0px 13px var(--shadow-color);
    transition: all 1s ease;

}
.contactWayBtn:hover{
    margin: 30px;
    margin-top: 44px;
    background: var(--secondary-color);
    border: solid 3px var(--primary-color);
    border-radius: var(--border-radius-circular);
    height: 75px;
    width: 250px;
    transform: scale(1.1);
    box-shadow: 0px 0px 13px var(--primary-color);
    transition: all 1s ease;
}
#proButtonBox{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background: var(--secondary-color);
    border: solid 3px var(--primary-color);
    border-radius: var(--border-radius-circular);
    height: 75px;
    width: 250px;
    box-shadow: 0px 0px 13px var(--shadow-color);
    transition: all 1s ease;

}
.proButton:hover{
    background: var(--secondary-color);
    border: solid 3px var(--primary-color);
    border-radius: var(--border-radius-circular);
    height: 75px;
    width: 250px;
    transform: scale(1.1);
    box-shadow: 0px 0px 13px var(--primary-color);
    transition: all 1s ease;
}
#proButtonPara{
    color: var(--third-color);
    margin-left: 6%;
}
#anchoredMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.menuButton{
    background-color: var(--primary-color);
    border-radius: var(--border-radius-card);
    width: 300px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 13px var(--shadow-color);
    transition: all 1s ease;

}
.menuButton:hover{
    background-color: var(--primary-color);
    border-radius: var(--border-radius-card);
    width: 300px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    box-shadow: 0px 5px 13px var(--primary-color);
    transition: all 1s ease;
}
.menuPara{
    font-family: var(--permanent-font);
    color: var(--third-color);
}
.buttonAnchor{
    text-decoration: none;
}