:root{
    --primary-color: rgb(241, 135, 50);
    --third-color:rgb(27, 27, 27);
    --secondary-color: white;
    --footer-text-color: rgb(0, 0, 0);
    --shadow-color: black;
    --border-radius-card: 20px;
    --border-radius-circular: 100px;
    --gradient-first-color: rgb(12, 16, 227);
    --gradient-second-color: rgb(255, 68, 0);
    --permanent-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --permanent-width-card: 450px;
    --permanent-box-margin:20px;
    background-color: var(--secondary-color);
}
@media (max-width: 768px){
    .longTitle{
        display: none !important;
    }
    .mobileTitle{
        display: inline !important;
    }
    #welcomeProfessionelBox{
        height: 150px !important;
        justify-content: center !important;
    }
    #professionelsWelcome{
        margin-top: 0px !important;
    }
    #professionelsWelcomeHeader{
        font-size: 25px !important;
    }
    #legend{
        width: 80% !important;
        margin: 0px !important;
    }
    .professionelsTopicHeader{
        font-size: large !important;
    }
    .professionelsTopicParagraph{
        width: 80% !important;
        font-size: medium !important;
    }
    .professionelMarginBox{
        flex-direction: column-reverse !important;
    }
    #sunTzuBox{
        width: 300px !important;
        height: max-content !important;
    }
    .professionelsSunTzu{
        width: 75% !important;
        font-size: medium !important;
    }
    .professionelTopicBoxRight{
        justify-content: center !important;
        align-items: center !important;
    }
    #professionelLinksSection{
        flex-direction: column !important;
    }
    #linkWidthBox{
        flex-direction: column !important;
    }
    .sectionLinkBox{
        margin: 7%;
    }
}
#welcomeProfessionelBox{
    border-radius: var(--border-radius-card);
    height: 200px;
    width: 90%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 5px 13px var(--shadow-color);
}
.longTitle{
    display: inline;
}
.mobileTitle{
    display: none;
}
.lineerBreakerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.lineerBreaker{
    background-color: var(--primary-color);
    width: 90%;
    height: 5px;
    
}
#professionelsWelcome{
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#professionelsWelcomeHeader{
    color: var(--primary-color);
    font-size: 70px;
}
#legendSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
#legend{
    margin: -22px;
    font-size: small;
    color: var(--third-color);
}
.professionelTopicSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.professionelTopicBoxMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.professionelTopicBoxRight{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.professionelsTopicHeader{
    color: var(--primary-color);
    font-size: 35px;
    margin-right: 5%;
    margin-left: 5%;
}
.professionelsTopicParagraph{
    font-size: 20px;
    width: 800px;
}
#discordBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 450px;
    box-shadow: 0px 5px 13px var(--shadow-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius-card);
}
#sunTzuBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 450px;
    border-left: solid var(--primary-color) 3px;
    border-right: solid var(--primary-color) 3px;
    border-radius: var(--border-radius-card);
}
.professionelMarginBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.professionelMarginBoxMiddle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.professionelsLinkAnchor{
    text-decoration: none;
}
.professionelsLinkImage{
    width: 75%;
}
.professionelsLinkButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius-circular);
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 13px var(--shadow-color);
    transition: all 1s ease;

}
.professionelsLinkDescription{
    margin-top: 30px;
    font-family: var(--permanent-font);
    color: var(--secondary-color);
    width: 400px;
}
.professionelsSunTzu{
    margin-top: 30px;
    color: var(--primary-color);
    width: 400px;
    font-size: 20px;
}
.professionelsLinkButton:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px 13px var(--secondary-color);
    transition: all 1s ease;

}
#professionelLinksSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkWidthBox{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sectionLinkAnchor{
    text-decoration: none;
}
.sectionLinkBox{
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius-circular);
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 13px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}
.sectionLinkBox:hover{
    box-shadow: 0px 5px 13px var(--primary-color);
    transform: scale(1.1);
    transition: all 1s ease;
}
.sectionLinkImage{
    width: 45%;
}