@media (max-width: 768px){
    #err_text{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(235, 115, 38);
        font-size: large !important;
        font-weight: bolder;
    }
}

#err_text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}
#err_text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(235, 115, 38);
    font-size: xx-large;
    font-weight: bolder;
}
